{% extends "main.html" %}

{% block styles %}
  {{ super() }}
  <link rel=stylesheet href=assets/stylesheets/home.min.css>
{% endblock %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- HERO -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img src="assets/images/home/surveyor-geodesy-no-background.png" draggable="false">
        </div>
        <div class="tx-hero__content">
          <h1>Base documentaire</h1>
          <p>Site de partage de la base documentaire du service SIG de <b></b> (Veille sur la géomatique, partage d'articles, de tutoriels sur l'information géographique).</p>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
            Débuter la lecture
          </a>
          <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
            Voir sur GitHub
          </a>
        </div>
      </div>
    </div>
</section>

<!-- Content -->
<div class="md-container secondary-section">
  <div class="g">
    <!-- Articles -->
    <div class="section follow" id="articles">
      <div class="component-wrapper">
        <div class="first-column">
          <h3>Articles</h3>
          <p>
            Plein d'articles
          </p>
        </div>
        <div class="second-column">
          <div class="image-wrapper">
            {% if config.extra.latest %}
            <a href="/{{ config.extra.latest.articles[0].url_rel | default('/') }}" hreflang={{
              config.extra.latest.articles[0].language | default('fr') }} title="Lien vers le dernier article">
              <img src="{{ config.extra.latest.articles[0].image | default('fr') }}"
                alt="Illustration du dernier article publié" decoding="async" loading="lazy" draggable="false">
              <div class="image-overlay">{{ config.extra.latest.articles[0].title | default('Placeholder') }}, par {{
                config.extra.latest.articles[0].authors | default('Valeur par défaut') | join(", ") }}</div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}

<!-- Content -->
{% block content %}
{% endblock %}

<!-- Light footer -->
{% block footer %}
{{ super() }}
{% endblock %}